<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ActionManagerTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ActionsEaseTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ActionsProgressTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ActionsTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ActionsWithBlocksSample.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>AttachTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Box2dAccelTouchTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Box2dTestBed.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Bug1159.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Bug350.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Bug422.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Bug458.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Bug624.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>Bug886.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>Bug899.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>Bug914.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>Chipmunk.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>ChipmunkAccelTouchTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>ClickAndMoveTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>CocosDenshion - Drum Pad.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>CocosDenshion - Fade To Grey.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>CocosDenshion - FancyRat Metering.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>CocosDenshion - Tom The Turret.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>CocosDenshion.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>DirectorTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>EAGLViewTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>EffectsAdvancedTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>EffectsTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>FileUtilsTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>FontTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>IntervalTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>LabelTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>LayerTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>MenuTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>MotionStreakTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>MultithreadTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>NodeTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
		<key>ParallaxTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>46</integer>
		</dict>
		<key>ParticleTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>47</integer>
		</dict>
		<key>RenderTextureTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>48</integer>
		</dict>
		<key>RotateWorldTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
		<key>SceneTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>50</integer>
		</dict>
		<key>SchedulerTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>51</integer>
		</dict>
		<key>ShaderTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>52</integer>
		</dict>
		<key>SpriteTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>53</integer>
		</dict>
		<key>Texture2dTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>54</integer>
		</dict>
		<key>TileMapTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>55</integer>
		</dict>
		<key>TouchesTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>56</integer>
		</dict>
		<key>TransitionsTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>57</integer>
		</dict>
		<key>ZwoptexTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>58</integer>
		</dict>
		<key>box2d.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>build all tests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>cocos2d-documentation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>cocos2d.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>drawPrimitivesTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>kazmath.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>libpng.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>05CA7AEC10ED674700F12774</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>495E73F6104B74E20012BB52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50010EBA103B3DB80059EC2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5012DD180FE2994300D6DDD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>501504CD11330E1700A9CA65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5018F24C0DFDEAC400C013A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>501945550F964C620059CE7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>501C7C6D0F91EFFF0024A296</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>502BF54411E39CC30030C477</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>502C65ED0DFEF3DD00E4107D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>502C66170DFEFCCA00E4107D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>503164CC10277665003ACFE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>503F5C96101FE930002A37E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5042256F0FC0B39C00B992F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>504226120FC0B5D500B992F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50479999100F6A4200D1C71A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5048287F0F45AED700A30CEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>504CC30C1035BDE90096894C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>504E17DB11C4C7E100E19835</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>505224F811B3D4700061670F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5052289011B3DBB90061670F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5052290E11B3DCD80061670F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5052294011B3DCE90061670F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>505B62AB0F2E6A0F001B4104</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>505B63780F2F4210001B4104</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>506143F10E589A2E003CCDB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>506881F40E95761200F943E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>506C77CB0E01520900B48100</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>506C79F20E01C73A00B48100</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>506C7FF70E041C9300B48100</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5078B5170E3E43540004233A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>507C0EE611D609290075E747</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>507FF8CE116D16F600B6FAB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>508CA7AD1193270F003AC397</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>509807071175041800EA7266</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50A24E190F377FA1007CAEB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50A783990F3AFCE500104C45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50B2C4D00E100AEA00AE9530</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50B2C5CE0E100EF000AE9530</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50C1953E0EE4B57E00829067</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50C938C60E0A9DBB00517B01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50C93A930E0BF6E000517B01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50CB2FC91004C8B100B7A750</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50CBA46311CBD6FB007B009D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50D56FA60F3FABEC007CD6B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50DB1BB10E1C1E5900A89DFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A00942C515180C730029A5C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A01AB8C2149709E300C93DB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A04A1FEA13B826B300ABAFB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0F84141151D3B3000EBBFCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA5F0EC10FFE96D400C7C82E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAABAA7D1059A42E00794EB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E02BC2A91270E489006E46A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E037DA1B1281C7F0003D39D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E03A4F331355041F00D4B515</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0C5586211FE48E600B9E4CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0EA5673134B9CA800F212C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
